.table-settings {
  margin-top: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: gray;
}
.table-settings img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.navbar-settings {
  border: 1px solid white;
  width: 500px;
  padding: 10px;
}
.navbar-settings-item {
  display: grid;
  grid-template-columns: 60px auto 100px;
  align-items: center;
}
.inedit {
  grid-template-columns: 60px auto 30px 30px;
}
.navbar-settings img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.navbar-settings-edit-name {
  margin-right: 10px;
}
