.dashboard-title {
  font-weight: lighter;
}
.dashboard-body {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
.gauge-chart {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: #F5EFEF;
  margin-bottom: 30px;
}
.gauge-chart-desc {
  margin-left: 30px;
}
