.MuiInputBase-root {
  color: white !important;
}
.MuiSelect-icon {
  color:white !important;
}
.custom-navbar {
  padding: 20px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: auto 40px;
}
.selected-gateway {
  padding: 10px 20px;
  font-size: larger;
}
.panel-gateway {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
}
.tab-gateway {
  background-color: #F5EFEF;
  color:black;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
.tab-selected {
  background-color: #59B724;
}
.settings-dashboard {
  justify-self: end;
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}