.MuiInputBase-root {
  color: white !important;
}
.MuiSelect-icon {
  color:white !important;
}
.custom-navbar {
  display: grid;
  grid-template-columns: auto auto;
}
.settings-dashboard {
  justify-self: end;
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}