.power-title {
  font-weight: lighter;
}
.active-power-chart {
  display: grid;
  margin-bottom: 15px;
  grid-template-columns: calc(100vw - 590px) auto;
  column-gap: 10px;
}
.reactive-power-chart {
  display: grid;
  margin-bottom: 15px;
  grid-template-columns: calc(100vw - 590px) auto;
  column-gap: 10px;
}
.apparent-power-chart {
  display: grid;
  margin-bottom: 15px;
  grid-template-columns: calc(100vw - 590px) auto;
  column-gap: 10px;
}
.power-factor-chart {
  display: grid;
  margin-bottom: 15px;
  grid-template-columns: calc(100vw - 680px) auto;
  column-gap: 10px;
}
.power-options {
  display: grid;
  align-items: center;
}
.power-options-item {
  display: grid;
  row-gap: 10px;
  align-items: center;
  grid-template-columns: 45px auto;
}